@charset "utf-8";

$primary: #3772FF;
$warning: #FDCA40;
$danger: #DF2935;
$black: #080708;
$white: #E6E8E6;

html {
    scroll-behavior: smooth;
  }

.has-bg-img {
    background-color: #fdca40;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23fbdd8a' fill-opacity='0.93'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

nav {
    box-shadow: 5px 5px 6px #eebe3c,
        -5px -5px 6px #ffd644;
}

section {
    box-shadow: 5px 5px 12px #d8dad8;
}

.homesvg {
    -webkit-filter: drop-shadow(5px 5px 12px #e1b439);
    filter: drop(5px 5px 12px #e1b439);
}

.cardsvg {
    -webkit-filter: drop-shadow(5px 5px 12px #cfd1cf);
    filter: drop(5px 5px 12px #cfd1cf);
}

article {
    box-shadow: 5px 5px 12px #d8dad8,
        -5px -5px 12px #f4f6f4;
}

@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
$navbar-breakpoint: $off;
@import "../node_modules/bulma/bulma.sass";